/* Styles globaux */
body {
    background-color: #252836; /* Fond sombre */
    color: #E0E0E0; /* Texte clair */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Assurer que le corps prend toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
}

/* Barre de navigation supérieure */
header {
    background-color: #252836;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    flex-shrink: 0;
}

header .search-bar {
    background-color: #1F1D2B;
    border: none;
    padding: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    margin-left: 160px;
    margin-right: auto;
    width: 300px;
}

header .user-profile {
    display: flex;
    align-items: center;
}

header .user-profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Barre latérale */
.sidebar {
    background-color: #1F1D2B;
    width: 100px; /* Augmenter légèrement la largeur */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    
}

.sidebar .logo {
    width: 80px; /* Ajuster la largeur */
    margin-bottom: 20px; /* Espace entre le logo et les icônes */
}

.sidebar .icon {
    position: relative;
    margin: 20px 0; /* Espacer davantage les icônes */
    padding: 10px;
    transition: background-color 0.3s ease;
}

.sidebar .icon img {
    width: 20px; /* Diminuer la taille des icônes */
    height: 20px; /* Diminuer la taille des icônes */
}
.sidebar .icon.active::before {
     content: "";
     position : absolute;
     top : 50%;
     left : 100%;
     transform: translateY(-50%);
     width: 38px;
     height: 150px;
     background-color: #252836;
     clip-path: polygon(64% 29%, 81% 18%, 100% 0, 99% 100%, 81% 82%, 64% 71%, 40% 70%, 0 70%, 0 30%, 40% 30%);
}

.sidebar .icon.active {
    position: relative;
}


.sidebar .icon.active .outer-rectangle {
    background-color: #252836; /* Couleur du contour gris */
    width: 60px; /* Largeur du contour gris */
    height: 60px; /* Hauteur du contour gris */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes soft-glow {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    }
}

.sidebar .icon.active .inner-rectangle {
    background-color: #48a7db; /* Couleur bleue du rectangle */
    width: 40px; /* Largeur du rectangle bleu */
    height: 40px; /* Hauteur du rectangle bleu */
    border-radius: 10px;
    position: absolute;
    animation: soft-glow 1.5s infinite alternate;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); /* Ajoutez un effet lumineux doux */

   
   
}

.sidebar .icon.active img {
    position: relative; /* Position relative pour être au-dessus du rectangle */
    z-index: 1; /* Assurez-vous que l'image est au-dessus du rectangle */
}

.sidebar .bottom-icon {
    margin-top: auto; /* Pousser l'icône en bas */
    margin-bottom: 20px; /* Ajouter un peu d'espace en bas */
}

/* Conteneur principal */
.main-container {
    margin-left: 160px; /* Décalage pour la barre latérale */
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 40px;
    flex-grow: 1;
    overflow: hidden; /* Éviter les débordements */
}

.card {
    background-color: #1F1D2B;
    border-radius: 30px;
    padding: 20px;
    color: #FFFFFF;
    overflow: hidden; /* Éviter les débordements */
}

.card-top {
    grid-column: span 2;
    height: 100px; /* Ajuster selon vos besoins */
}

.card-large {
    grid-column: span 2;
    grid-row: 2 / 3;
    height: calc(100% - 80px);
    overflow: auto; /* Permettre le défilement interne si nécessaire */
    padding: 20px 40px;
    box-sizing: border-box;
}

.card-right {
    grid-column: 3 / 4;
    grid-row: span 2;
    height: 100%;
    width: 100%;
    display: flex;
    height: calc(100% - 40px);
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto; /* Permettre le défilement interne si nécessaire */
}

.buttonsContainer, .admin-button-container, .formContainer {
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.formContainer {
    background-color: #252836;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Style pour le tableau */
.table-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 20px;
    background-color: #1F1D2B;
    padding: 20px;
    box-sizing: border-box;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #444;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2C2F3F;
}

tr:nth-child(even) {
    background-color: #2C2F3F;
}

tr:nth-child(odd) {
    background-color: #252836;
}

/* SLS Animé */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.svg-container {
    position: relative;
    height: 100%; /* Ajustez selon vos besoins */
}

svg {
    font-family: "Russo One", sans-serif;
    width: 100%; height: 100%;
}

svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #365FA0;
    font-size: 100px;
}

@keyframes stroke {
    0% {
        fill: rgba(75,171,221,0); stroke: rgba(54,95,160,1);
        stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70% { fill: rgba(75,171,221,0); stroke: rgba(54,95,160,1); }
    80% { fill: rgba(75,171,221,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
    100% {
        fill: rgba(75,171,221,1); stroke: rgba(54,95,160,0);
        stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
}
.settings-icon {
    position: relative;
    cursor: pointer;
  }
  
  .settings-icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
  }
 /* Style de base pour le bouton */
.button {
    background-color: #252836; /* Couleur de fond grise */
    border: none; /* Pas de bordure */
    color: white; /* Texte en blanc */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Texte centré */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de police */
    margin: 4px 2px; /* Marges */
    cursor: pointer; /* Curseur de pointeur */
    border-radius: 20px; /* Bordures arrondies */
    transition-duration: 0.4s; /* Transition pour les effets */
  }
  
  /* Style pour le survol du bouton */
  .button:hover {
    background-color: white; /* Fond blanc au survol */
    color: #1F8AC0; /* Texte Bleu au survol */
    border: 2px solid #1F8AC0; /* Bordure bleue */
  }
  
  /* Style pour le bouton lorsque cliqué (focus) */
  .button:active {
    background-color: #252836; /* Couleur de fond gris foncé */
    color: white; /* Texte en blanc */
    border: none; /* Pas de bordure */
  }
  
  /* Style pour les écrans plus petits */
  @media (max-width: 600px) {
    .button {
      padding: 12px 24px; /* Ajustement du padding pour les petits écrans */
      font-size: 14px; /* Ajustement de la taille de la police */
    }
  }
   

  .formContainer {
    background-color: #1F1D2B;
    padding: 20px;
    border-radius: 5px;
    color: #E0E0E0;
}

.formContainer form {
    display: flex;
    flex-direction: column;
}

.formContainer label {
    margin-bottom: 5px;
}

.formContainer input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2C2F3F;
    color: #E0E0E0;
}

.formContainer button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1F8AC0;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formContainer button:hover {
    background-color: #1F8AC0;
}

.formContainer h2 {
    margin-bottom: 20px;
}
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #1F8AC0 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1F8AC0;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #1F8AC0;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #1F8AC0;
  }
  