:root {
    --background-color: #1F1D2B; /* Couleur de fond principale en bleu nuit très sombre */
    --text-color: #FFFFFF; /* Couleur de texte en blanc */
    --header-background: #252836; /* Couleur du header */
    --button-background: #1F1D2B; /* Couleur des boutons */
    --button-hover: #252836; /* Couleur différente des boutons lors du survol */
    --form-background: #252836; /* Couleur de fond des formulaires */
    --form-input-background: #252836; /* Fond des champs de formulaire */
    --form-input-border: #343456; /* Bordure des champs de formulaire */
    --table-background: #1F1D2B; /* Couleur de fond du tableau */
    --table-text-color: #FFFFFF; /* Couleur du texte des cellules */
    --table-header-background: #1F1D2B; /* Couleur des en-têtes de colonnes */
    --table-cell-border: #2c2c4600; /* Bordure des cellules en gris très foncé */
    --table-even-row-background: #0f112e; /* Couleur de fond des cellules paires */
    --filter-form-button-background: #1F1D2B; /* Couleur des boutons du formulaire */
    --filter-form-button-hover: #252836; /* Couleur différente des boutons du formulaire lors du survol */

    /* Couleurs des barres de Gantt en dégradé de bleu du plus clair au plus foncé */
    --gantt-bar-color-1:  #99CCFF; /* Bleu clair */
    --gantt-bar-color-2:  #80C0FF;
    --gantt-bar-color-3:  #66B3FF;
    --gantt-bar-color-4:  #4DA6FF;
    --gantt-bar-color-5:  #3399FF;
    --gantt-bar-color-6:  #1A8CFF;
    --gantt-bar-color-7:  #0080FF;
    --gantt-bar-color-8:  #0073E6;
    --gantt-bar-color-9:  #0066CC;
    --gantt-bar-color-10: #0059B3;
    --gantt-bar-color-11: #004D99;
    --gantt-bar-color-12: #004080;
    --gantt-bar-color-13: #003366;
    --gantt-bar-color-14: #00264D;
    --gantt-bar-color-15: #001A33;
    --gantt-bar-color-16: #000D1A;
    --gantt-bar-color-17: #0000FF; /* Bleu pur */
    --gantt-bar-color-18: #0000CC;
    --gantt-bar-color-19: #000099;
    --gantt-bar-color-20: #000066; /* Bleu foncé */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.gantt-chart {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--table-background);
}

.gantt-chart th, .gantt-chart td {
    border: none;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    position: relative;
    height: 35px; /* Changer la hauteur des lignes ici */
    color: var(--table-text-color);
}

.gantt-chart th:first-child, .gantt-chart td:first-child {
    width: 90px; /* Largeur ajustée pour la colonne des intitulés de projet */
    max-width: 90px;
    min-width: 90px;
    text-align: left;
    padding-left: 10px;
}

.gantt-chart th:not(:first-child), .gantt-chart td:not(:first-child) {
    width: 30px; /* Largeur fixe pour chaque jour */
    border: none;
}

.gantt-chart th {
    background-color: var(--table-header-background);
    font-weight: bold;
}

.gantt-bar {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.gantt-bar.color-1  { background-color: var(--gantt-bar-color-1); }
.gantt-bar.color-2  { background-color: var(--gantt-bar-color-2); }
.gantt-bar.color-3  { background-color: var(--gantt-bar-color-3); }
.gantt-bar.color-4  { background-color: var(--gantt-bar-color-4); }
.gantt-bar.color-5  { background-color: var(--gantt-bar-color-5); }
.gantt-bar.color-6  { background-color: var(--gantt-bar-color-6); }
.gantt-bar.color-7  { background-color: var(--gantt-bar-color-7); }
.gantt-bar.color-8  { background-color: var(--gantt-bar-color-8); }
.gantt-bar.color-9  { background-color: var(--gantt-bar-color-9); }
.gantt-bar.color-10 { background-color: var(--gantt-bar-color-10); }
.gantt-bar.color-11 { background-color: var(--gantt-bar-color-11); }
.gantt-bar.color-12 { background-color: var(--gantt-bar-color-12); }
.gantt-bar.color-13 { background-color: var(--gantt-bar-color-13); }
.gantt-bar.color-14 { background-color: var(--gantt-bar-color-14); }
.gantt-bar.color-15 { background-color: var(--gantt-bar-color-15); }
.gantt-bar.color-16 { background-color: var(--gantt-bar-color-16); }
.gantt-bar.color-17 { background-color: var(--gantt-bar-color-17); }
.gantt-bar.color-18 { background-color: var(--gantt-bar-color-18); }
.gantt-bar.color-19 { background-color: var(--gantt-bar-color-19); }
.gantt-bar.color-20 { background-color: var(--gantt-bar-color-20); }

.gantt-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
    color: var(--text-color);
    border-radius: 20px;
    margin-top: 15px;
}

.gantt-nav-icon {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5em;
}

.gantt-nav-icon:hover {
    text-decoration: underline;
    color: var(--button-hover);
}

.gantt-bar::after {
    content: attr(data-start) " - " attr(data-end); /* Afficher les dates */
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.gantt-bar:hover::after {
    opacity: 1;
}
