:root {
    --background-color: #1F1D2B;
    --text-color: #FFFFFF;
    --header-background: #252836;
    --button-background: #1F1D2B;
    --button-hover: #252836;
    --form-background: #252836;
    --form-input-background: #252836;
    --form-input-border: #343456;
    --table-background: #1F1D2B;
    --table-text-color: #FFFFFF;
    --table-header-background: #1F1D2B;
    --table-cell-border: #2c2c4600;
    --table-even-row-background: #0f112e;
    --filter-form-button-background: #1F1D2B;
    --filter-form-button-hover: #252836;
    --gantt-jalon-color: #FFAA00; /* Couleur des jalons */
    --gantt-jalon-hover-color: #FFCC66; /* Couleur au survol des jalons */

    /* Couleurs des barres de Gantt */
    --gantt-bar-color-1: #75a8de;
    --gantt-bar-color-2: #629deb;
    --gantt-bar-color-3: #4d8ae6;
    --gantt-bar-color-4: #3071e1;
    --gantt-bar-color-5: #2166e5;
    --gantt-bar-color-6: #1156e0;
    --gantt-bar-color-7: #0044cc;
    --gantt-bar-color-8: #0035b2;
    --gantt-bar-color-9: #0e35a0;
    --gantt-bar-color-10: #001762;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--header-background);
    color: var(--text-color);
    position: relative;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px; /* Ajoute un espace entre les éléments */
}

.header-center {
    flex-grow: 1;
    text-align: center;
}

.header-right {
    display: flex;
    align-items: center;

}






#refresh-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: var(--text-color);
    position:flex;
    left : 20px;
}






h1 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    flex-grow: 1; /* Centrer le texte horizontalement dans l'espace disponible */
}

#settings-icon {
    font-size: 30px;
    padding: 10px;
    color: var(--text-color);
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    right: 20px; /* Positionne à droite */
}

.settings-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.settings-button {
    padding: 5px 10px; /* Smaller padding to make buttons smaller */
    background-color: var(--button-background); /* Use theme color */
    color: var(--text-color); /* Use text color from theme */
    border: none;
    border-radius: 5px;
    font-size: 14px; /* Smaller font size */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Transition effects */
}

.settings-button:hover {
    background-color: var(--button-hover); /* Hover color */
    transform: translateY(-1px); /* Slight lift effect on hover */
}











.card-icon {
    position: absolute;
    left: 20px; /* Positionne à gauche */
}

.header-spacer {
    flex-grow: 1; /* Laisser l'espace restant entre les éléments à gauche et ceux à droite */
}

#map {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.card {
    background-color: #23202f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
    cursor: pointer; /* Ajouté pour indiquer que la carte est cliquable */
    transition: background-color 0.3s;
}




.card:hover {
    background-color: #2c2c3b; /* Couleur de fond au survol */
}

.large {
    width: 60%;
}

.small {
    width: 30%;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top : 40px
}

.date-depassee {
    color: red;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 13px;
    overflow: hidden;
    height: 20px;
    margin-top: 10px;
}

.progress {
    height: 100%;
    background-color: #76c7c0;
    width: 0;
    transition: width 0.4s ease;
}

.popup-form {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond légèrement plus sombre */
}

.popup-content {
    background-color: var(--form-background);
    margin: 10% auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
    color: var(--text-color);
    position: relative; /* Ajouté pour permettre le positionnement absolu de l'icône de fermeture */
}


.popup-content h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--text-color); /* Utilisation de la couleur du texte global */
}

.popup-content input[type=text],
.popup-content input[type=date],
.popup-content input[type=range],
.popup-content textarea,
.popup-content select {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    background-color: var(--form-input-background); /* Utilisation de la couleur d'entrée du formulaire */
    color: var(--text-color); /* Utilisation de la couleur du texte global */
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    transition: background-color 0.3s;
}

.popup-content input[type=text]:focus,
.popup-content input[type=date]:focus,
.popup-content input[type=range]:focus,
.popup-content textarea:focus,
.popup-content select:focus {
    outline: none;
    background-color: rgba(52, 52, 86, 0.2); /* Utilisation d'une couleur plus claire pour le focus */
}

.popup-content button {
    width: 100%;
    padding: 15px;
    background-color: var(--button-background); /* Utilisation de la couleur de fond des boutons */
    color: var(--text-color); /* Utilisation de la couleur du texte global */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}

.popup-content button:hover {
    background-color: var(--button-hover); /* Utilisation de la couleur de survol des boutons */
}

.gantt-chart {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--table-background);
}

.gantt-chart th, .gantt-chart td {
    border: none;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    position: relative;
    height: 35px;
    color: var(--table-text-color);
}

.gantt-chart th:first-child, .gantt-chart td:first-child {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    text-align: left;
    padding-left: 10px;
}

.gantt-chart th:not(:first-child), .gantt-chart td:not(:first-child) {
    width: 30px;
    border: none;
}

.gantt-chart th {
    background-color: var(--table-header-background);
    font-weight: bold;
}

.gantt-bar {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.gantt-bar.color-1 { background-color: var(--gantt-bar-color-1); }
.gantt-bar.color-2 { background-color: var(--gantt-bar-color-2); }
.gantt-bar.color-3 { background-color: var(--gantt-bar-color-3); }
.gantt-bar.color-4 { background-color: var(--gantt-bar-color-4); }
.gantt-bar.color-5 { background-color: var(--gantt-bar-color-5); }
.gantt-bar.color-6 { background-color: var(--gantt-bar-color-6); }
.gantt-bar.color-7 { background-color: var(--gantt-bar-color-7); }
.gantt-bar.color-8 { background-color: var(--gantt-bar-color-8); }
.gantt-bar.color-9 { background-color: var(--gantt-bar-color-9); }
.gantt-bar.color-10 { background-color: var(--gantt-bar-color-10); }

.gantt-bar::after {
    content: attr(data-start) " - " attr(data-end);
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.gantt-bar:hover::after {
    opacity: 1;
}

/* Styles pour les jalons dans le Gantt */
.gantt-jalon {
    width: 10px;
    height: 10px;
    background-color: var(--gantt-jalon-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.3s;
}

.gantt-jalon:hover {
    background-color: var(--gantt-jalon-hover-color);
}

.gantt-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--background-color);
    padding: 10px;
    color: var(--text-color);
    border-radius: 20px;
}

.gantt-nav-icon {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5em;
}

.gantt-nav-icon:hover {
    text-decoration: underline;
    color: var(--button-hover);
}


.close-icon {
    cursor: pointer;
    font-size: 30px; /* Ajustez la taille de l'icône selon vos besoins */
    color: var(--text-color); /* Utilise la couleur définie dans votre thème */
    transition: color 0.3s ease;
    position: absolute; /* Position absolue pour placer l'icône */
    top: 20px; /* Positionne en haut */
    right: 20px; /* Positionne à droite */
}

.close-icon:hover {
    color: #5e6688; /* Utiliser une couleur de survol cohérente avec le thème global */
}










#pcd-icon svg {
    fill: var(--text-color); /* Couleur blanche pour correspondre au thème */
    transition: fill 0.3s; /* Effet de transition pour le changement de couleur */
    cursor: pointer;
}

#pcd-icon svg:hover {
    fill: var(--filter-form-button-hover); /* Couleur au survol du thème */
}

/* Styles pour le bouton Triangle PCD */
.pcd-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-background); /* Utilisation de la couleur du thème */
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-color); /* Couleur du texte selon le thème */
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 20px;
    position: absolute;
    left: 70px; /* Positionne le bouton à gauche */
}


.pcd-button:hover {
    background-color: var(--button-hover); /* Couleur au survol du thème */
    transform: translateY(-2px); /* Légère animation de montée au survol */
}

.pcd-button i {
    margin-right: 5px; /* Espace entre l'icône et le texte */
    font-size: 20px; /* Taille de l'icône */
    transition: color 0.3s; /* Effet de transition pour le changement de couleur */
}

.pcd-button:hover i {
    color: var(--filter-form-button-hover); /* Couleur de survol selon le thème */
}

