:root {
    --background-color: #0a0f29; /* Couleur de fond principale en bleu nuit très sombre */
    --text-color: #ffffff; /* Couleur de texte en gris clair */
    --header-background: #121a45; /* Couleur du header en bleu foncé */
    --button-background: #1a245b; /* Couleur des boutons en bleu très sombre */
    --button-hover: #2d3c7d; /* Couleur différente des boutons lors du survol */
    --form-background: #121a45; /* Couleur de fond des formulaires en bleu foncé */
    --form-input-background: #1c1c2e; /* Fond des champs de formulaire en bleu très foncé */
    --form-input-border: #343456; /* Bordure des champs de formulaire en gris foncé */
    --table-background: #121a45; /* Couleur de fond du tableau en bleu foncé */
    --table-text-color: #ffffff; /* Couleur du texte des cellules en gris clair */
    --table-header-background: #1c1c2e; /* Couleur des en-têtes de colonnes en bleu très foncé */
    --table-cell-border: #2c2c4600; /* Bordure des cellules en gris très foncé */
    --table-even-row-background: #0f112e; /* Couleur de fond des cellules paires en bleu nuit très sombre */
    --filter-form-button-background: #1a245b; /* Couleur des boutons du formulaire en bleu très sombre */
    --filter-form-button-hover: #2d3c7d; /* Couleur différente des boutons du formulaire lors du survol */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: var(--header-background);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    margin: 0;
    margin-top : 10;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: var(--table-background);
    border: 1px solid var(--table-cell-border);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: var(--text-color);
}

.date-depassee {
    color: red;
}

.card.large {
    grid-column: span 2;
}

.card.small {
    grid-column: span 1;
}
